version: '3.8'

services:
  mysqldb:
    image: mysql:5.7
    restart: unless-stopped
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  achat-backend:
    image: amalennj/achat:1-0
    restart: unless-stopped
    ports:
      - 8082:8082
    depends_on:
      - mysqldb


volumes:
  mysql_data:
