version: '3.8'
services:
  mysqldb:
    image: mysql:5.7
    restart: unless-stopped
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    ports:
      - "3307:3306"
    volumes:
      - db:/var/lib/mysql
  achat-backend:
    image: amalennj/achat:1-0
    restart: unless-stopped
    ports:
      - 8089:8089
    depends_on:
      - mysqldb
    command: ["./wait-for-it.sh", "mysqldb:3306", "--", "java", "-jar", "achat-1.0.jar"]

volumes:
  db:
