version: '3.8'
networks:
  mynetwork:

services:
  mysqldb:
    image: mysql:5.7
    restart: unless-stopped
    ports:
      - 3307:3306
    volumes:
      - db:/var/lib/mysql
    environment:
      MYSQL_DATABASE: achatdb
      MYSQL_ROOT_PASSWORD: root
    networks:
      - mynetwork
  achat-backend:
    image: amalennj/achat:1-0
    restart: unless-stopped
    ports:
      - 8082:8082
    depends_on:
      - mysqldb
    networks:
      - mynetwork
volumes:
  db:

